body{
	margin:30px !important;
	padding:30px !important;
    background:#eee;
    -webkit-font-smoothing: antialiased;
}

a:hover {
    text-decoration: none;
}


/* Globals type styling */

 h1, h2, h3, h4, h5, h6, p, label, .btn, a{
}


body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

#calendar {
    margin: 0 auto;
    background: white;
    padding:20px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 25px rgba(0,0,0,.1);
}