<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="SmartViz">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/about/css/bootstrap.css">
    <link rel="stylesheet" id="ppstyle" type="text/css" href="/static/about/style.css">
    <link rel='stylesheet' href='/static/about/css/font-awesome.min.css'/>
    <script src="/static/about/js/jquery-2.1.0.min.js"></script>
    <script src="/static/about/js/bootstrap.js"></script>
    <script src="/static/about/js/blocs.js"></script>
    <title>SmartViz</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    
<!-- Hero Bloc -->
<div id="hero-bloc" class="bloc hero  bg-citysky d-bloc">
	<div class="container bloc-sm hero-nav">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">SmartViz</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav pull-right">
					<li>
						<a href="#bloc-2">About</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="v-center text-center">
		<div class="vc-content">
			<h1 class="">
				Discover interesting events around you
			</h1>
			<h3 class="">
			</h3><br /><br /><br /><a href="http://mysterious-refuge-5580.herokuapp.com/" class="btn-wire btn btn-xl">Try it Out</a><a id="scroll-hero" class="btn-dwn" href="#"><span class="fa fa-chevron-down"></span></a>
		</div>
	</div>
</div>
<!-- Hero Bloc END -->

<!-- bloc-2 -->
<div class="bloc l-bloc " id="bloc-2">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md" style="color:#70C9C0">
					About
				</h1>
				<p>
					We have created an application that helps you find interesting events around you.
				</p>
				<br/>
				<h4 class="mg-sm">
					The Question we are answering ?
				</h4>
				<p>
					What are the Interesting Events happening in a city ?
				</p>
				<br/>
				<h4 class="mg-sm">
					How we answered the question
				</h4>
				<p>
					The user can select the city in which he or she is looking for something to do. The events happening in a city are plotted on the map and are available in a list. The user can click on a particular event and the map will be zoomed in to that location. The user can now see near by restaurants , instagram posts and tweets about the event
				</p>
				<br/>
				<h4 class="mg-sm">
					Data Sets Used
				</h4>
			</div>
		</div>
	</div>
</div>
<!-- bloc-2 END -->

<!-- bloc-3 -->
<div class="bloc l-bloc " id="bloc-3" style="margin-top:-180px">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-institution icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					EventBrite
				</h3>
				<p class="text-center">
					Find Events by City. Discover events that brings people together through live experiences.
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-foursquare icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					Foursquare
				</h3>
				<p class="text-center">
					Find Trending Events by City. Discover the best food, nightlife, and entertainment in your area
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-music icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					SongKick
				</h3>
				<p class="text-center">
					Find Live Music Events in a City. Discover popular artists in a city.
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-wechat icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					Meetups
				</h3>
				<p class="text-center">
					Find events where people are getting together to learn something, do something or share something
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-twitter icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					Twitter
				</h3>
				<p class="text-center">
					Find tweets about a particular event and see what people have to say about the event
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-facebook icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					Facebook
				</h3>
				<p class="text-center">
					Get Details about an event from the event page on facebook.
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-instagram icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					Instagram
				</h3>
				<p class="text-center">
					Get Pictures taken at the event and posted to instagram
				</p>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<span class="fa fa-google icon-round icon-md"></span>
				</div>
				<h3 class="text-center mg-md">
					Google Places
				</h3>
				<p class="text-center">
					Find places nearby the event to help users figure out what else they could do when they are in the particular area
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->



<!-- Footer - bloc-5 -->
<div class="bloc l-bloc " id="bloc-5">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="mg-md" style="color:#70C9C0">
					How it works<br/>
                <br/>
                
				</h1>

                
				<img src="/static/about/img/Screen%20Shot%202015-03-16%20at%206.19.16%20PM.png" class="img-responsive" alt='' />
			</div>
			<div class="col-sm-6">
				<h2 class="mg-md">
				</h2>
				<h3 class="mg-lg">
				    <br/>	<br/>	<br/> <br/>
					Step 1 - Select a City
				</h3>
				<p class="mg-lg">
					Enter the name of the city in which you would like to discover interesting events that are happening
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-5 END -->

<!-- Footer - bloc-6 -->
<div class="bloc l-bloc " id="bloc-6">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-6">
				<img src="/static/about/img/Screen%20Shot%202015-03-16%20at%206.19.34%20PM.png" class="img-responsive" alt='' />
			</div>
			<div class="col-sm-6">
				<h3 class="mg-lg">
					Step 2 - Select an Event
				</h3>
				<p class="mg-lg">
					The map and the list get populated with the events happening in the city. The user can now select one of the many events to view more information about it.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-6 END -->

<!-- Footer - bloc-7 -->
<div class="bloc l-bloc " id="bloc-7">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-6">
				<img src="/static/about/img/Screen%20Shot%202015-03-16%20at%206.19.58%20PM.png" class="mg-sm center-block" height="200" alt='' /><img src="/static/about/img/Screen%20Shot%202015-03-16%20at%206.20.10%20PM.png" class="mg-sm center-block" height="200" alt='' /><img src="/static/about/img/Screen%20Shot%202015-03-16%20at%206.20.22%20PM.png" class="mg-sm center-block" height="200" alt='' />
			</div>
			<div class="col-sm-6">
				<h3 class="mg-lg">
					Step 3 - See what&rsquo;s going on nearby
				</h3>
				<h4 class="mg-sm">
					Find Restaurants Nearby
				</h4>
				<p class="mg-lg" > 
					Want to grab a bite before or after the event? You can view the restaurants that are located nearby the location of the event.
				</p>
				<h4 class="mg-sm" style="margin-top:140px">
					Pictures on Instagram
				</h4>
				<p class="mg-lg">
					View pictures taken at event and posted on Instagram.
				</p>
				<h4 class="mg-sm" style="margin-top:140px">
					View Tweets about the Event
				</h4>
				<p>
					Engange in the conversation. View tweets about the event and find out what other people are saying about it. 
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-7 END -->

<!-- Footer - bloc-8 -->
<div class="bloc l-bloc " id="bloc-8">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="text-left mg-md" style="color:#fff">
					Meet our team
				</h1>
				<p class="sub-heading text-center">
				</p>
			</div>
		</div>
		<div class="row voffset-lg">
			<div class="col-sm-2">
				<img src="/static/about/img/matthew.jpg" class="img-responsive img-circle" alt='' />
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md">
					Matthew Bolaños
				</h3>
			</div>
			<div class="col-sm-2">
				<img src="/static/about/img/Tofi_Buzali2.jpg" class="img-responsive img-circle" alt='' />
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md">
					Tofi Buzali
				</h3>
			</div>
		</div>
		<div class="row voffset-lg">
			<div class="col-sm-2">
				<img src="/static/about/img/saba.jpg" class="img-responsive img-circle" alt='' />
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md">
					Saba Kazi
				</h3>
			</div>
			<div class="col-sm-2">
				<img src="/static/about/img/raghav2.jpg" class="img-responsive img-circle" alt='' />
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md">
					Raghav Mujumdar
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-8 END -->
</div>
<!-- Main container END -->

</body>
    
<!-- Google Analytics -->

<!-- Google Analytics END -->

</html>
