<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
	<head>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	</head>
	<body ng-controller="AppCtrl" layout="column">
		{% verbatim %}
		<section layout="row" flex>
	    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" flex="30">
	      <md-toolbar class="md-theme-indigo" style="min-height:148px;">
			<md-content md-theme="docs-dark" class="md-padding" style="min-height:48px;max-height:48;overflow: hidden;">
	        <ng-switch on="data.selectedScreen" class="tabpanel-container">
				<div role="tabpanel" ng-switch-when="0">
			        <center>1) Search your city</center>
			    </div>
				<div role="tabpanel" ng-switch-when="1">
					 <a class="md-accent" ng-click="data.backfirst()" style="margin-top:-2; margin-bottom:-3px;float:left;">
				        <i class="fa fa-chevron-left md-accent" style="font-size:.9em;"></i>
					</a>
			        <center>2) Select an event</center>
			    </div>
				<div role="tabpanel" ng-switch-when="2">
			        <a class="md-accent" ng-click="data.back()" style="margin-top:-2; margin-bottom:-3px;float:left;">
				        <i class="fa fa-chevron-left md-accent" style="font-size:.9em;"></i>
					</a>
			        <center>3) See what's going on nearby</center>
			    </div>
		    </ng-switch>
			</md-content>
			<md-divider></md-divider>
	        <h1 class="md-toolbar-tools" style="height:100px;max-height: 100px;">

		        <md-content md-theme="docs-dark"  layout="row" layout-sm="column" style="font-size:1em;width:100%">
			    <md-input-container style="padding: 2px 2px 8px; width:50%;">
			      <label>City</label>
			      <input type="text" ng-autocomplete ng-model="result" details="details" options="options" placeholder=""/>
			    </md-input-container>
			    <md-input-container style="padding: 2px 2px 8px; width:50%;">
			      <label>Date</label>
			      <input type="date" ng-model="date" />
			    </md-input-container>
			  </md-content>

	        </h1>
	        <!--<ng-switch on="data.selectedScreen" class="tabpanel-container">
				<div role="tabpanel" ng-switch-when="1">
			        <md-tabs md-selected="data.selectedIndex" style="background:white;min-height:48px;">
					    <md-tab ng-repeat="feed in events" label="{{feed.name}}" style="font-size:.9em;">
				    </md-tabs>
			    </div>
		    </ng-switch>-->
	      </md-toolbar>
	      <md-content ng-controller="LeftCtrl">
	        <ng-switch on="data.selectedScreen" class="tabpanel-container">
			<div role="tabpanel" ng-switch-when="1">
				<div layout="column" flex layout-fill>
					<div ng-repeat="feed in events">
					    <!--<div role="tabpanel" ng-if="$index == data.selectedIndex">
						    <div class="demo-tab feed{{$index%4}}" layout="column">-->
						    <md-subheader class="md-primary" style="border-bottom: 1px solid rgba(0,0,0,0.12);">{{feed.name}}</md-subheader>
						    	<md-list>
									<md-item ng-repeat="item in feed.data" ng-show="item.favorited!=true || feed.name=='Favorites'">
										<md-button ng-click="data.selectEvent(item)">
									        <md-item-content>
									        	<div layout="row" style="width:100%;">
											        <div class="md-tile-content" flex="10">
											        	<i class="fa star" ng-class="item.favorited ? 'fa-star' : 'fa-star-o'" ng-click="data.favoriteEvent(item, $event)" ng-show="item.source!='foursquare'"></i>
											        </div>
											        <div class="md-tile-content" flex="80">
												        <h3><strong>{{item.name}}</strong></h3>
												        <p>{{item.description}}</p>
											        </div>
											        <div class="md-tile-content" flex="10">
											        	<i class="fa fa-angle-right arrow"></i>
											        </div>
										    	</div>
									        </md-item-content>
										</md-button>
									</md-item>
								</md-list>
						<!--    </div>
					    </div> -->
					</div>
	        	</div>
			</div>
			<div role="tabpanel" ng-switch-when="2">

					<md-content class="md-padding">
						<div layout="row" style="width:100%;">
							<div class="" flex="10">
								<i class="fa star" ng-class="selected.favorited ? 'fa-star' : 'fa-star-o'" ng-click="data.favoriteEvent(selected, $event)" style="line-height:70px;"></i>
							</div>
							<div class="" flex="90">
					   			<h2>{{selected.name}}&nbsp;&nbsp;<a href="{{selected.url}}" target="_blank"><i class="fa fa-external-link" style="font-size:.8em;"></i></a></h2>
							</div>
					</div>
								<p>{{selected.description}}</p>
					</md-content>
					<md-divider></md-divider>

			<md-tabs md-selected="selectedIndex" flex>
		    <md-tab label="Food">
			    <ng-switch on="places.loading" class="tabpanel-container">
					<div role="tabpanel" ng-switch-when="0">
						<div layout="row" layout-sm="column" layout-align="space-around" style="margin:50px;">
					      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
					    </div>
				    </div>
					<div role="tabpanel" ng-switch-when="1" style="margin:50px;">
				        <center>We couldn't find any restaurants :(</center>
				    </div>
					<div role="tabpanel" ng-switch-when="2">
						<md-list class="md-padding">
							<md-item ng-repeat="item in places.data">
								<md-button ng-click="data.selectPlace(item)">
							        <md-item-content>
									    <div layout="row" style="width:100%;">
									        <div class="md-tile-content" flex="90">
										        <h3><strong>{{item.name}}</strong></h3>
												        <p>Rating: {{item.rating}}</p>
									        </div>
									        <div class="md-tile-content" flex="10">
									        	<i class="fa fa-angle-right arrow"></i>
									        </div>
									    </div>
							        </md-item-content>
								</md-button>
							</md-item>
						</md-list>
				    </div>
			    </ng-switch>
		    </md-tab><md-tab label="Instagram">
			    <ng-switch on="instagram.loading" class="tabpanel-container">
					<div role="tabpanel" ng-switch-when="0">
						<div layout="row" layout-sm="column" layout-align="space-around" style="margin:50px;">
					      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
					    </div>
				    </div>
					<div role="tabpanel" ng-switch-when="1" style="margin:50px;">
				        <center>We couldn't find any photos :(</center>
				    </div>
					<div role="tabpanel" ng-switch-when="2">
						<md-list class="md-padding">
							<md-item ng-repeat="item in instagram.data">
								<span ng-click="">
							        <md-item-content>
						          <div class="md-tile-left">
						              <div ng-style="{'background-image':'url('+item.photo+')'}" class="instaimage"></div>
						          </div>
								        <div class="md-tile-content">
									        <h3><strong>{{item.title}}</strong></h3>
											        <p>{{item.description}}</p>
								        </div>
							        </md-item-content>
								</span>
							</md-item>
						</md-list>
				    </div>
			    </ng-switch>
		    </md-tab>
		    <md-tab label="Twitter">
			    <ng-switch on="twitter.loading" class="tabpanel-container">
					<div role="tabpanel" ng-switch-when="0">
						<div layout="row" layout-sm="column" layout-align="space-around" style="margin:50px;">
					      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
					    </div>
				    </div>
					<div role="tabpanel" ng-switch-when="1" style="margin:50px;">
				        <center>We couldn't find any tweets :(</center>
				    </div>
					<div role="tabpanel" ng-switch-when="2">
						<md-list class="md-padding">
							<md-item ng-repeat="item in twitter.data">
								<span>
						        <md-item-content>
						          <div class="md-tile-left">
						              <div ng-style="{'background-image':'url('+item.photo+')'}" class="image"></div>
						          </div>
							        <div class="md-tile-content">
								        <h3><strong>{{item.title}}</strong></h3>
								        <p>{{item.description}}</p>
							        </div>
						        </md-item-content>
								</span>
							</md-item>
						</md-list>
				    </div>
			    </ng-switch>
		    </md-tab>
		  </md-tabs>


			</div>
	      </md-content>
	    </md-sidenav>
	    <md-content flex>
	    		<div style="flex:1;" ng-hide="showMap"><iframe src="static/calendarview/index.html" id="iframe"></iframe></div>
				<ui-gmap-google-map center='map.center' zoom='map.zoom' ng-hide="!showMap">
				 <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()">
		            <div>{{map.window.model.name}}</div>
		        </ui-gmap-window>
					<ui-gmap-markers models="foodEvents" coords="'self'" icon="'icon'" events="map.markersEvents">
					</ui-gmap-markers>
					<ui-gmap-markers models="mapEvents" coords="'self'" icon="'icon'" events="map.markersEvents" doCluster="false">
					</ui-gmap-markers>
				</ui-gmap-google-map>
		</md-content>

		<section layout="row" layout-sm="column" layout-align="center center" class="buttons">
	      <md-button class="md-raised md-primary" ng-click="showMap = false">Calendar View</md-button>
	      <md-button class="md-raised md-primary" ng-click="showMap = true">Map View</md-button>
	      <md-button class="md-raised" target="_blank" ng-href="https://www.google.com/calendar/embed?src={{calendarID}}">Google Calendar&nbsp;&nbsp;<i class="fa fa-external-link"></i></md-button>
	    </section>

		</section>
		{% endverbatim %}

		<!-- Angular Material Dependencies -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
		<script src="static/lodash.min.js"></script>
		<script src="static/angular-google-maps.min.js"></script>
		<script src="static/ngAutocomplete.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>


    	<script>
    		Date.prototype.addHours= function(h){
			    this.setHours(this.getHours()+h);
			    return this;
			}

			angular.module('StarterApp', ['uiGmapgoogle-maps','ngMaterial','ngAutocomplete'])
			.controller('AppCtrl', function($scope, $timeout, $mdSidenav, $log, $http, $mdToast) {

			  var oldcenter;
			  var oldmap;
			  var fb = new Firebase("https://blinding-torch-1320.firebaseio.com");
			  var firebaseFavs = null;
			  var calendarID = "";
			  $scope.calendarID = "";

				fb.onAuth(function(authData) {
				  if (authData !== null) {
				    console.log("Authenticated successfully with payload:", authData);

				    $.get( "related/createCalendar/"+authData.uid, function( data ) {
					    fb.child("users").child(authData.uid).set({
					      provider: authData.provider,
					      name: authData.google.displayName,
					      google: authData.google,
					      calendarID: data
					    });
					    calendarID = data;
					    $scope.calendarID = data;
			 			firebaseFavs = fb.child("list").child(fb.getAuth().uid);


						firebaseFavs.on("value", function(snapshot) {
						  
						  var allFavs = [];
						  snapshot.forEach(function(d) {
						  	d.forEach(function(events) {
						  		allFavs.push(events.val());
						  	})
						  });
						  //document.getElementById('iframe').contentWindow.updateCalendarData(allFavs);

						    var myIframe = document.getElementById('iframe');
							myIframe.onload = function() {
							    this.contentWindow.updateCalendarData(allFavs);
							};
						});
					});
				  } else {
				    // Try to authenticate with Google via OAuth redirection
				    fb.authWithOAuthRedirect("google", function(error, authData) {
				      if (error) {
				        console.log("Login Failed!", error);
				      }
				    });
				  }
				})

			  $scope.selected = {
				  name: "",
				  favorited: false,
				  address: "",
				  description: "",
				  url: ""
			  }

			  $scope.showMap = true;
			  $scope.date = new Date();
	          $scope.foodEvents = [];
	          $scope.mapEvents = [];

			  $scope.twitter = {loading: 0, data: []};
			  $scope.places = {loading: 0, data: []};
			  $scope.instagram = {loading: 0, data: []};

			  $scope.favorites = [];

    		  	$(".angular-google-map-container").height($(window).height());


			  $scope.showActionToast = function() {
			    var toast = $mdToast.simple()
			          .content('Google calendar updated!')
			          .action('View')
			          .highlightAction(false)
			          .position("top right");
			    $mdToast.show(toast).then(function() {
			      window.open("https://www.google.com/calendar/embed?src="+calendarID);
			    });
			  };

			  $scope.data = {
			      selectedIndex : 0,
			      selectedScreen: 0,
			      selectPlace: function(item) {
	                  $scope.map.window.model = item;
	                  $scope.map.window.show = true;
			      },
			      favoriteEvent: function(item, $event) {
			      	$event.stopPropagation();
			      	$scope.showActionToast();

					var authData = fb.getAuth();
					if (authData) {
				      	item.favorited = !item.favorited;

					    date = $scope.date.getFullYear()+"-"+($scope.date.getMonth()+1)+"-"+$scope.date.getDate();


				      	if(item.favorited) {
				      		$.post( "related/createEvent/"+calendarID,
				      			{
				      				"desc":item.name,
				      				"startDate":item.start,
				      				"endDate":item.end ? item.end : (new Date(item.start).addHours(1).toISOString()),
				      				"location":item.venue
				      			},
				      			function( data ) {
				      				item.calendarID = data.split(':')[1];

						      		var temp = jQuery.extend({}, item);
									delete temp.$$hashKey;
					  				var firebaseFavsDate = firebaseFavs.child(date);
						      		var postRef = firebaseFavsDate.push(temp);
				      				item.firebaseID = postRef.key();
								});

						} else {
			  				var postRef = firebaseFavs.child(date).child(item.firebaseID);

			  				$.get("related/deleteEvent/"+item.calendarID+"/"+calendarID, function(){});

			  				postRef.on("value", function(snapshot) {
								$scope.events.forEach(function(value){
									value.data.forEach(function(v){
										if (snapshot.val() && v.uid == snapshot.val().uid)
											v.favorited = false;
									})
								})

				  				postRef.remove();
							}, function (errorObject) {
							  console.log("The read failed: " + errorObject.code);
							});
							
						}
					} else {
					  console.log("User is logged out");
					}
			      },
			      selectEvent: function(item) {
				      $scope.data.selectedScreen = 2;
				      $scope.selected = item;

	                  $scope.map.window.model = item;
	                  $scope.map.window.show = true;
	                  $scope.foodEvents = [];

				      oldcenter = $scope.map.center;
				      oldmap = $scope.mapEvents;
					  $scope.map.center = { latitude: item.latitude, longitude: item.longitude };
				      $scope.map.zoom = 17;
				      $scope.mapEvents = [item];
				      $scope.twitter.loading = 0;
				      $scope.places.loading = 0;
				      $scope.instagram.loading = 0;

				      var httpRequest = $http({
				            method: 'GET',
				            url: '/related/twitter/'+item.name,

				        }).success(function(data, status) {
					        $scope.twitter.data = data
					        if(data.length > 0)
					        	$scope.twitter.loading = 2;
					        else
								$scope.twitter.loading = 1;
				        });

				      var httpRequest = $http({
				            method: 'GET',
				            url: '/related/places/'+item.latitude+"/"+item.longitude+"/food",

				        }).success(function(data, status) {
					        for (i = 0; i < data.length; i++) {
							    data[i].id = i + 5000;
							    data[i].icon = 'static/icon4.png';
							}
					        $scope.places.data = data
							$scope.foodEvents = data;
					        if(data.length > 0)
					        	$scope.places.loading = 2;
					        else
								$scope.places.loading = 1;
				        });

				      var httpRequest = $http({
				            method: 'GET',
				            url: '/related/instaloco/'+item.latitude+"/"+item.longitude,

				        }).success(function(data, status) {
					        $scope.instagram.data = data
					        if(data.length > 0)
					        	$scope.instagram.loading = 2;
					        else
								$scope.instagram.loading = 1;
				        });
			      },
			      back: function() {
				      $scope.data.selectedScreen = 1;
				      $scope.map.center = oldcenter;
					  $scope.map.zoom = 12;
					  $scope.mapEvents = oldmap;
	                  $scope.map.window.show = false;
					  $scope.foodEvents = [];

			      },
			        backfirst: function() {
				      $scope.data.selectedScreen = 0;
				      $scope.map.center = {  latitude: 37.09024, longitude: -95.712891};
					  $scope.map.zoom = 4;
					  $scope.mapEvents = [];
					  $scope.foodEvents = [];
	                  $scope.map.window.show = false;
	                  $scope.city = "";
			  		  $scope.result = '';



			      }
			    };

			  $scope.map = {
				  center: {
					  latitude: 37.09024,
					  longitude: -95.712891
				  },
				  markers: [],
				  zoom: 4,
				  markersEvents: {
				  	mouseover: function(marker, eventName, model, arguments) {
						$scope.map.window.model = model;
						$scope.map.window.show = true;

				  	},
		            click: function(marker, eventName, model, arguments) {
		                $scope.map.window.model = model;
		                $scope.map.window.show = true;

		                if ($scope.data.selectedScreen != 2)
		                	$scope.data.selectEvent(model);
		            }
		        },
		        window: {
		            marker: {},
		            show: false,
		            closeClick: function() {
		                this.show = false;
		            },
		            options: {pixelOffset: new google.maps.Size(0, -40)}
		        }
			  };
			  $scope.events = [];
			  $scope.mapEvents = [];
			  $scope.city = "New York";

			  $scope.result = '';
			  $scope.options = {
			      types: '(cities)'
			  };
    		  $scope.details = '';



		        $scope.$watch("[details,date]", function(newValue, oldValue) {
				    if (newValue[0] && newValue[1]) {
				     	$scope.data.selectedScreen = 1;
						$scope.events = [];
						$scope.mapEvents = [];
						$scope.favorites = [];

					    var lng = newValue[0].geometry.location.F;
					    var lat = newValue[0].geometry.location.A;
					    var date = '?date='+$scope.date.getFullYear()+"-"+($scope.date.getMonth()+1)+"-"+$scope.date.getDate();

						$scope.map.center = { latitude: lat, longitude: lng };
						$scope.map.zoom = 12;

					    var httpRequest = $http({
				            method: 'GET',
				            url: '/events/foursquare/'+lat+','+lng+date,

				        }).success(function(data, status) {
					        for (i = 0; i < data.length; i++) {
							    data[i].id = i + 1000;
							    data[i].favorited = false;
							    data[i].uid = "foursquare"+data[i].uid;
							    data[i].source = "foursquare";
							    data[i].icon = 'static/icon3.png';
							}
							if (data.length > 0) {
								data.forEach(function(value){
									$scope.favorites.forEach(function(v){
										if (value.uid == v.uid)
											value.favorited = true;
											value.firebaseID = v.firebaseID;
											value.calendarID = v.calendarID;
									})
								})
								if ($scope.data.selectedScreen == 2)
									oldmap = oldmap.concat(data);
								else
									$scope.mapEvents = $scope.mapEvents.concat(data);
					            $scope.events.push({name: "Foursquare (trending)", data: data});
				            }
				        });

					    var httpRequest = $http({
				            method: 'GET',
				            url: '/events/meetups/'+lat+','+lng+date,

				        }).success(function(data, status) {
					        for (i = 0; i < data.length; i++) {
							    data[i].id = i + 2000;
							    data[i].favorited = false;
							    data[i].uid = "meetups"+data[i].uid;
							    data[i].source = "meetups";
							    data[i].icon = 'static/icon3.png';
							}
							if (data.length > 0) {
								data.forEach(function(value){
									$scope.favorites.forEach(function(v){
										if (value.uid == v.uid)
											value.favorited = true;
											value.firebaseID = v.firebaseID;
											value.calendarID = v.calendarID;
									})
								})
								if ($scope.data.selectedScreen == 2)
									oldmap = oldmap.concat(data);
								else
									$scope.mapEvents = $scope.mapEvents.concat(data);
					            $scope.events.push({name: "Meetups", data: data});
					        }
				        });

					    var httpRequest = $http({
				            method: 'GET',
				            url: '/events/songkick/'+lat+','+lng+date,

				        }).success(function(data, status) {
					        for (i = 0; i < data.length; i++) {
							    data[i].id = i + 3000;
							    data[i].favorited = false;
							    data[i].uid = "songkick"+data[i].uid;
							    data[i].source = "songkick";
							    data[i].icon = 'static/icon3.png';
							}
							if (data.length > 0) {
								data.forEach(function(value){
									$scope.favorites.forEach(function(v){
										if (value.uid == v.uid)
											value.favorited = true;
											value.firebaseID = v.firebaseID;
											value.calendarID = v.calendarID;
									})
								})

								if ($scope.data.selectedScreen == 2)
									oldmap = oldmap.concat(data);
								else
									$scope.mapEvents = $scope.mapEvents.concat(data);
					            $scope.events.push({name: "Songkick", data: data});
				            }
				        });

					    var httpRequest = $http({
				            method: 'GET',
				            url: '/events/eventbrite/'+lat+','+lng+date,

				        }).success(function(data, status) {
					        for (i = 0; i < data.length; i++) {
							    data[i].id = i + 4000;
							    data[i].favorited = false;
							    data[i].uid = "eventbrite"+data[i].uid;
							    data[i].source = "eventbrite";
							    data[i].icon = 'static/icon3.png';
							}
							if (data.length > 0) {
								data.forEach(function(value){
									$scope.favorites.forEach(function(v){
										if (value.uid == v.uid)
											value.favorited = true;
											value.firebaseID = v.firebaseID;
											value.calendarID = v.calendarID;
									})
								})
								if ($scope.data.selectedScreen == 2)
									oldmap = oldmap.concat(data);
								else
									$scope.mapEvents = $scope.mapEvents.concat(data);
					            $scope.events.push({name: "Eventbrite", data: data});
				            }
				        });

						

					  	var date = $scope.date.getFullYear()+"-"+($scope.date.getMonth()+1)+"-"+$scope.date.getDate();
						firebaseFavs.child(date).on("value", function(snapshot) {
						  
						  $scope.favorites = [];
						  snapshot.forEach(function(data) {
						  	temp = data.val();
						  	temp.firebaseID = data.key();

							$scope.events.forEach(function(value){
								value.data.forEach(function(v){
									if (v.uid == temp.uid) {
										v.favorited = true;
									}
								})
							})
						    $scope.favorites.push(temp);


						  });
						    if ($scope.favorites.length > 0) {
						      	if ($scope.events.length == 0 || $scope.events[0].name != "Favorites") {
								    $scope.events.unshift({name: "Favorites", data: $scope.favorites});
								}
								else {
									$scope.events[0].data = $scope.favorites;
								}
							} else {
								$scope.events.splice(0, 1);
							}
							$scope.$apply();
						});


			        }




				},true);

				

			})
			.controller('LeftCtrl', function($scope, $timeout, $mdSidenav, $log) {
			  $scope.close = function() {
			    $mdSidenav('left').close()
			                      .then(function(){
			                        $log.debug("close LEFT is done");
			                      });
			  };
			});

		</script>
		<style>

			.md-tile-left div.image,.md-tile-left div.instaimage {
				border-radius: 30px;
				border: 1px solid #ddd;
				background-color: #eee;
				width: 48px;
				height:48px;
				background-size:cover;
				margin: 16px; }
			.md-tile-left div.instaimage {
				width:148px;
				height:148px;
				border-radius: 5px;
			}
			.angular-google-map-container { height: 100px; width:100%; }
			md-input-container.md-docs-dark-theme .md-input {
				color: rgba(255,255,255,1.0);
				border-color: rgba(255,255,255,0.12);
			}

			md-item .md-button {
				text-align: left;
				width:100%;
				white-space: normal;
				padding:0;
				text-transform: none;
				font-weight: inherit;

			}

			.buttons {
				position:fixed;
				right:0;
				bottom:0;
			}
			.buttons .md-raised {
				margin:10px;
				margin-left:0;
				margin-bottom: 15px;
			}

			.star, .arrow {
				font-size:25px;
				line-height: 45px;
			}
			.fa-star {
				color:#fb0;
			}
			.arrow {
				color:#ccc;
			}

			iframe {
				position:absolute;
				width:100%;
				height:100%;
				border:none;
			}
			input {
				font-size: .7em;
			}

			input::-webkit-input-placeholder { color:transparent; }
			input::-moz-placeholder { color:transparent; } /* FF 4-18 */
			input::-moz-placeholder { color:transparent; } /* FF 19+ */
			input::-ms-input-placeholder { color:transparent; } /* IE 10+ */

		</style>
	</body>
</html>